# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/
env/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media/
staticfiles/
static/

# If using JetBrains IDEs
.idea/

# VS Code
.vscode/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django migrations
*/migrations/*.py
!*/migrations/__init__.py

# Testing
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Pytest
.pytest_cache/
.cache/

# Environment variables
.env
.env.*

# Windows
Thumbs.db

db.sqlite3
